.product{
    display: flex;
    border:1px solid lightgray;
}
.product-name{
color:blue;
font-size: 20px;

}
.button-name{
background: rgb(235, 146, 13);
padding:4px 15px;
color:rgb(13, 14, 99);
border:none;
border-radius: 2px;
cursor: pointer;
}

.orderitem{
    text-align: center;
}